* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    position: relative; /*top-right-bottom-left*/
    animation: RedCirckle;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes RedCirckle {
    0% {top: -250px;}
    100% {top: 0px;}
}


#yellow {
    background-color: yellow;
    opacity: 0;
    animation: YellowCirckle;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}

@keyframes YellowCirckle {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


#green {
    background-color: green;
    position: relative;
    animation: GreenCirckle;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes GreenCirckle {
    50% {transform: rotateY(180deg);}
}

/*HINT -   transform: rotateY(0deg);*/